# Ignore credentials
credentials/

# Ignore Visual Studio Code settings
.vscode/

# Ignore virtual environment folder
rs_env/

# Ignore uploads folder
uploads/

# Ignore models folder
models/

# Ignore system files
.DS_Store
Thumbs.db